@page
@model PRN231.CPR.Page.Pages.StudentPages.ManageGroupModel
@{
    Layout = "../Shared/_LayoutHome.cshtml";
}
<body class="topics-listing-page" id="top">

    <main>

        <header class="site-header d-flex flex-column justify-content-center align-items-center">
            <div class="container">
                <div class="row align-items-center">

                    <div class="col-lg-5 col-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/StudentPages/HomePage">Homepage</a></li>

                                <li class="breadcrumb-item active" aria-current="page">Group Member</li>
                            </ol>
                        </nav>

                        <h2 class="text-white">Group Member</h2>
                    </div>

                </div>
            </div>
        </header>


        <section class="section-padding">
            <div class="container">
                <div class="row">
                  <div class="group">
                      
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th>Description</th>
                                    <th></th>
                                </tr>
                            </thead>
                        
                        <tbody>
                            <tr>
                                <td>se160136</td>
                                <td>nguyen ba nhat tai</td>
                                <td>tainbnse160136@gmail.com</td>
                                <td>front end</td>
                                <td>react js</td>
                                <td>
                                    <a asp-page="./EditMember" asp-route-id="id" class="button-table edit">Edit</a>
                                    <button asp-action="RemoveMember" class="button-table remove">Remove</button>
                                </td>
                            </tr>
                        </tbody>
                        </table>
                        <div class="button-contain">
                            <a class="button-add" asp-page-handler="AddMember" asp-page="./AddMember">
                                Add Member
                            </a>
                        </div>
                        
                  </div>
                  <div class="topic"></div>
                    <h2 class="group-title">Topic</h2>
                    <div class="col-lg-8 col-12 mt-3 mx-auto">
                       
                            <div class="custom-block custom-block-topics-listing bg-white shadow-lg mb-5">
                                <div class="d-flex">
                                    <img src="https://edu.hoteljob.vn/uploads/images/20-07-16-11/0ff34c8e8581ef7b5ee4d5caedf9bf7a.png" class="custom-block-image img-fluid" alt="">

                                    <div class="custom-block-topics-listing-info d-flex">
                                        <div>
                                            <h5 class="mb-2">topic1</h5>

                                            <p class="mb-0">topic 1</p>
                                            <p class="mb-0">semester</p>
                                          
                                        </div>

                                    </div>
                                </div>
                            </div>
                        


                    </div>
                    <div class="button-contain">
                        <button class="button-add" asp-action="ChangeTopic">
                            Change Topic
                        </button>
                    </div>
                </div>
            </div>
        </section>



    </main>

    <footer class="site-footer section-padding">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-12 mb-4 pb-2">
                    <a class="navbar-brand" asp-page="/StudentPage/HomePage">
                        <img class="logo-img" src="https://feid.fpt.edu.vn/FPT_Education_logo.svg"
                    </a>
                </div>

                <div class="col-lg-3 col-md-4 col-6">
                    <h6 class="site-footer-title mb-3">Resources</h6>

                    <ul class="site-footer-links">
                        <li class="site-footer-link-item">
                            <a href="#" class="site-footer-link">Home</a>
                        </li>

                        <li class="site-footer-link-item">
                            <a href="#" class="site-footer-link">How it works</a>
                        </li>

                    </ul>
                </div>

                <div class="col-lg-3 col-md-4 col-6 mb-4 mb-lg-0">
                    <h6 class="site-footer-title mb-3">Information</h6>

                    <p class="text-white d-flex mb-1">
                        <a href="tel: 0835537718" class="site-footer-link">
                            08-3553-7718
                        </a>
                    </p>

                    <p class="text-white d-flex">
                        <a href="mailto:info@company.com" class="site-footer-link">
                            info@company.com
                        </a>
                    </p>
                </div>

                <div class="col-lg-3 col-md-4 col-12 mt-4 mt-lg-0 ms-auto">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            English
                        </button>

                        <ul class="dropdown-menu">
                            <li><button class="dropdown-item" type="button">Thai</button></li>

                            <li><button class="dropdown-item" type="button">Myanmar</button></li>

                            <li><button class="dropdown-item" type="button">Arabic</button></li>
                        </ul>
                    </div>

                    <p class="copyright-text mt-lg-5 mt-4">
                        Copyright © 2048 Topic Listing Center. All rights reserved.

                    </p>

                </div>

            </div>
        </div>
    </footer>



</body>